.page-template-search-results {
	.site-content {
		& > .wrapper {
			max-width: 60rem;
		}
	}

	.cse .gsc-control-cse,
	.gsc-control-cse {
		font-family: Arial, sans-serif;
		border-color: transparent;
		background-color: transparent;
		padding: 0;

		table {
			margin: 0;
		}

		td {
			padding: 0 0 0 .5em;
		}
	}

	.gsc-adBlock {
		display: none;
	}

	.gsc-webResult.gsc-result,
	.gsc-results .gsc-imageResult {
		border-color: transparent;
		background-color: transparent;
		padding: 1.125em 0;

		&:hover,
		&:hover {
			border-color: transparent;
			background-color: transparent;
		}
	}

	.gsc-expansionArea {
		.gsc-webResult.gsc-result,
		.gsc-results .gsc-imageResult {
			&:nth-child(odd) {
				background: $off_white;
			}
		}
	}

	.gsc-result-info {
		padding-left: 0;
	}

	.gsc-results {
		.gsc-cursor-box {
			.gsc-cursor-page {
				background: transparent;
			}
		}
	}
}
